.git
**/bin
**/obj
**/publish
**/.vs
**/.gitignore
**/.gitattributes
**/TestStockMovement.*
**/*.user
**/*.suo
**/*.log
**/*.md
**/tmp*
**/node_modules
**/npm-debug.log
**/yarn-error.log
**/dist
**/.DS_Store
